@using Stock.Common.Dto
@model UserDto

<div style="display: flex; justify-content: center;">
<h1>Авторизация</h1>
</div>

@{
	ViewData["Title"] = "Склад";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: center;">
<form method="post" asp-controller="Auth" asp-action="login">
    <div class="form-group">
        <label for="username">Имя пользователя:</label>
        <input type="text" class="form-control" id="username" name="username" maxlength="20" style="width:300px;">
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" class="form-control" id="password" name="password" style="width:300px;">
    </div>
    <div style="display: flex; justify-content: center;">
    <button type="submit" class="btn btn-primary">Войти</button>
    <a href="/Auth/Register" class="btn btn-secondary ml-2">Регистрация</a>
    </div>
</form>
</div>
